* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

html, body {
    height: 100vh;
    width: 100vw;
}

.Parent {
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px; */
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
    padding: 20px;
}

.Card {
    width: 230px;
    height: 300px;
    background-color: oldlace;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
}

.Card > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* background-color: red; */
}

.Card .top img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #dadada;
}

.Card .top button {
    padding: 5px 10px;
    display: flex;
    border: none;
    border-radius: 5px;
    /* background-color: #dadada; */
    color: #222;
    cursor: pointer;
    font-weight: bold;

}


.Card .Center {
    /* margin: 20px 10px 0 20px; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* height: 70%; */
    font-weight: bold;
    /* background-color: blue; */
}

.Card > .Center > .Title > span {
    font-weight: 700;
    font-size: 12px;
    color: gray;
}

.btn-2{
    display: flex;
    gap: 6px;
    /* background-color: gray; */
}

.btn-2 .Info, .Info-2{
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    background-color: #dadada;
    color: #070707;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Bottom {
    /* margin: 80px 10px 0 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 2px solid gray;
    /* background-color: red; */
}

.Bottom-Left {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.Bottom-Left .Rate {
    font-size: 14px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

.Bottom-Left .Location {
    font-size: 10px;
    color: gray;
    font-weight: bold;
}


.Apply {
    padding: 6px;
    /* height: 15px; */
    background-color: #111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

